.social {
  align-items: center;
  background-color: #fafafa;
  border-radius: 0 0 0 8px;
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 16px;
  padding: 8px 12px;
  z-index: 1;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &__link {
    color: #d5d5d5;
    line-height: 0;
    transition: color 200ms ease;

    svg {
      width: 24px;
    }

    &:not(:last-child) {
      svg {
        margin: 0 8px 0 0;
      }

      @media (min-width: 600px) {
        svg {
          margin: 0 0 8px 0;
        }
      }
    }

    &--facebook {
      &:hover {
        color: #3B5998;
      }
    }

    &--twitter {
      &:hover {
        color: #55ACEE;
      }
    }

    &--linkedin {
      &:hover {
        color: #0077b5; 
      }
    }

    &--email {
      &:hover {
        color: #dd4b39;
      }
    }
  }
}
