{{ assign level = 0 }}

<ul class="menu menu--depth-{% increment level %}">
  {% for item in include.nav %}
    {% assign url_parts = page.url | split: '/' %}
    {% assign url_parts_size = url_parts | size %}
    {% assign base_url = url_parts | pop | join: '/' %}

    <li class="menu__item {% if item.url == page.url %} menu__item--active {% endif %} {% if item.subnav %} menu__item--has-submenu {% endif %} {% if url_parts_size > 2 and item.url contains base_url %} menu__item--display-submenu {% endif %}">
      <a class="menu__link" href="{% if item.subnav %} # {% else %} {{ item.url }} {% endif %}">
        <span>{{ item.title }}</span>
        {% if item.subnav %}
          {% include svg/caret-down-solid.svg %}
        {% endif %}
      </a>

      {% if item.subnav %}
        {% include nav/nav.html nav=item.subnav %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
