h1, h2, h3 {
  color: inherit;
  font-family: 'Barlow', sans-serif;
  margin: 0 0 16px 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

body {
  color: $darkest-blue;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.41;
  word-break: break-word;
}

p {
  margin: 0 0 16px 0;
}

pre, code {
  background-color: #fafafa;
  border-radius: 4px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  overflow: auto;
  padding: 4px 8px;
}

.highlight {
  background-color: #fafafa;
}
