$unit: 8px; // Unit for padding/margins/line-height, always use multiples of $unit
$baseline-height: 4px; // Line-heights will be multiple of this variable, see `line-height` function

$color-primary: #0f3146;
$color-secondary: #68e78f;
$color-dark-blue: #0f3146;
$color-darker-blue: #092434;
$color-darkest-blue: #051721;

$color-code-bg: #edf1f5;

$size-body: 16px;        // HTML font-size = 1rem
$size-body-mobile: 16px; // HTML font-size (mobile)
$size-h1: 42px;          // H1 size, interpolate H2-H5 sizes, H6 will be equal to $font-size
$size-small: 14px;
$size-smaller: 12px;
$size-tiny: 10.5px;

$border-radius: 5px;

// Roboto + System fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-monospace: 'Roboto Mono', monospace;
$font-monospace-scale: .9;
