.main {
  min-height: 100vh;

  @media (min-width: 600px) {
    display: flex;
  }

  &__nav {
    background-color: $color-dark-blue;

    @media (max-width: 599px) {
      align-items: center;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      width: 100%;
    }

    @media (min-width: 600px) {
      width: 160px;
    }

    @media (min-width: 1200px) {
      width: 240px;
    }
  }

  &__sticky-nav {
    @media (max-width: 599px) {
      display: none;
      width: 100%;
    }

    @media (min-width: 600px) {
      display: block;
      position: sticky;
      top: 0;
    }

    .main__nav--mobile-nav-open & {
      display: block;
    }
  }

  &__content {
    flex: 1;
    min-width: 0;
    padding: 16px;

    > .highlighter-rouge {
      max-width: 100%;
    }

    @media (min-width: 600px) {
      padding: u(3) u(10) u(6) u(4);
    }
  }

  &__mj-logo {
    display: block;
    line-height: 0;
    padding: 22px u(3) u(2) u(2);

    @media (max-width: 599px) {
      width: 50%;
    }
  }

  &__mobile-nav-toggle {
    color: white;
    line-height: 0;
    padding: 16px;

    @media (min-width: 600px) {
      display: none;
    }
  }

  &__mobile-nav-icon-open {
    display: block;
    width: 16px;

    .main__nav--mobile-nav-open & {
      display: none;
    }
  }

  &__mobile-nav-icon-closed {
    display: none;
    width: 16px;

    .main__nav--mobile-nav-open & {
      display: block;
    }
  }

  &__mj-link {
    display: block;
    font-size: 0;
    padding: u(3) u(2) u(1);
    max-width: 200px;
    opacity: .8;
  }

  &__mj-social {
    align-items: center;
    color: white;
    display: flex;
    font-size: 0;
    padding: 8px 16px 16px;

    svg {
      width: 16px;
    }

    a {
      color: white;
      margin-right: 12px;

      &:hover {
        color: darken(white, 10%);
      }
    }
  }
}
