{% include header/header.html %}

<div class="main">
  <div class="main__nav">
    <a class="main__mj-logo" href="{{ site.baseurl }}/">
      {% include svg/as_harmony_logo.svg %}
    </a>

    <a class="main__mobile-nav-toggle" href="#">
      <span class="main__mobile-nav-icon-open">{% include svg/bars-solid.svg %}</span>
      <span class="main__mobile-nav-icon-closed">{% include svg/times-solid.svg %}</span>
    </a>

    <div class="main__sticky-nav">
      {% include nav/nav.html nav=site.data.nav %}

      <a class="main__mj-link" href="https://mobilejazz.com/" target="_blank">
        {% include svg/as_mobile_jazz_logo.svg %}
      </a>

      <div class="main__mj-social">
        <a href="https://github.com/mobilejazz" target="_blank">{% include svg/github-square-brands.svg %}</a>
        <a href="https://www.behance.net/MobileJazz" target="_blank">{% include svg/behance-square-brands.svg %}</a>
        <a href="https://www.facebook.com/mobilejazzcom" target="_blank">{% include svg/facebook-square-brands.svg %}</a>
        <a href="https://twitter.com/mobilejazzcom" target="_blank">{% include svg/twitter-square-brands.svg %}</a>
        <a href="https://www.linkedin.com/company/mobilejazz" target="_blank">{% include svg/linkedin-brands.svg %}</a>
      </div>
    </div>
  </div>

  <div class="main__content">
    {% include social/social.html %}
    <div class="page">
      {{ content }}
    </div>
  </div>
</div>

{% include footer/footer.html %}
